body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../recursos/pag_1\ principal/fondo.png);
}

.title-div
{
    padding-top: 7%;
    padding-left: 20% !important;
    padding-right: 20% !important;
    margin-bottom: 0% !important;
    height: fit-content;
}
.container
{
    margin-left: 20% !important;
    margin-right: 20% !important;
}
.icon2
{
    inline-size: auto;
    width: auto;
    height: 30%;
}
.container{
    width: 100%;
    height: auto;

    /* Add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.box
{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}

/* footer */
.container-footer{
    width: 100%;
    height: auto;

    /* Add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-flow: wrap;
}
.box-footer
{
    width: 222px;
    box-sizing: border-box;
}

/*pruba nav*/
.castillo-panel
{
    width: 80%;
    height: 100%;
    background: url(../recursos/pag_2/background2.png);
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.checkbox-castillo:checked ~ .castillo-panel
{
    left: 20%;
}
.medieval-panel
{
    width: 80%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.checkbox-medieval:checked ~ .medieval-panel
{
    left: 20%;
}
.lugar-panel
{
    width: 80%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.checkbox-lugar:checked ~ .lugar-panel
{
    left: 20%;
}
.invitacion-panel
{
    width: 80%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.checkbox-invitacion:checked ~ .invitacion-panel
{
    left: 20%;
}
.premiacion-panel
{
    width: 80%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.checkbox-premiacion:checked ~ .premiacion-panel
{
    left: 20%;
}
.checkbox-castillo, .checkbox-medieval, .checkbox-lugar, .checkbox-invitacion, .checkbox-premiacion
{
   display: none;
}

.x-boton
{
    align-items: right;
    width: 80%;
    height: auto;
}
.x-boton .espaciador
{
    width: 60%;
}
.x-boton label img
{   
    width: 80px;
    height: auto;
}
::-webkit-scrollbar
{
    display: none;
}

.title-halloween
{
    width: 60%;
    height: auto;
}
.logo-castillo
{
    width: 50%;
    height: auto;
}