body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../recursos/pag_1\ principal/fondo.png);
}

.title-div
{
    padding-top: 7%;
    padding-left: 20% !important;
    padding-right: 20% !important;
    margin-bottom: 0% !important;
    height: fit-content;
}
.container
{
    margin-left: 20% !important;
    margin-right: 20% !important;
}
.icon2
{
    inline-size: auto;
    width: auto;
    height: 30%;
}
.container{
    width: 100%;
    height: auto;

    /* Add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.box
{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}

/* footer */
.container-footer{
    width: 100%;
    height: auto;

    /* Add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-flow: wrap;
}
.box-footer
{
    width: 222px;
    box-sizing: border-box;
}