body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../recursos/pag_1\ principal/fondo.png);
    background-color: black !important;
}

.title-div
{
    padding-top: 7%;
    padding-left: 20% !important;
    padding-right: 20% !important;
    margin-bottom: 0% !important;
    height: fit-content;
}
.container2
{
    margin-left: 35% !important;
    margin-right: 35% !important;
}
.icon2
{
    inline-size: auto;
    width: auto;
    height: 30%;
}
.container{
    width: 100%;
    height: auto;

    /* Add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.box
{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}

/* footer */
.container-footer{
    width: 100%;
    height: auto;

    /* Add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-flow: wrap;
}
.box-footer
{
    width: 270px;
    box-sizing: border-box;
}
.castillo-panel
{
    width: 80%;
    height: 100%;
    background: url(../recursos/pag_2/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.castillo-panel-responsive
{
    width: 100%;
    height: 100%;
    background: url(../recursos/pag_2/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;
}
.checkbox-castillo:checked ~ .castillo-panel
{
    left: 20%;
}
.checkbox-castillo:checked ~ .castillo-panel-responsive
{
    left: 0%;
}
.medieval-panel
{
    width: 80%;
    height: 100%;
    background: url('../recursos/pag_3/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}

.medieval-panel-responsive
{
    width: 100%;
    height: 100%;
    background: url('../recursos/pag_3/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;
}
.checkbox-medieval:checked ~ .medieval-panel
{
    left: 20%;
}

.lugar-panel
{
    width: 80%;
    height: 100%;
    background: url(../recursos/pag_2/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.lugar-panel-responsive
{
    width: 100%;
    height: 100%;
    background: url(../recursos/pag_2/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.checkbox-lugar:checked ~ .lugar-panel
{
    left: 20%;
}


/*Pruebas 2.0*/
.invitacion-panel
{
    width: 80%;
    height: 100%;
    background: url(../recursos/pag_5/pag.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.invitacion-panel-responsive
{
    width: 100%;
    height: 100%;
    background: url(../recursos/pag_5/pag.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}

.checkbox-invitacion:checked ~ .invitacion-panel
{
    left: 20%;
}


.premiacion-panel
{
    width: 80%;
    height: 100%;
    background: url('../recursos/pag_6/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;

}
.premiacion-panel-responsive
{
    width: 100%;
    height: 100vh;
    background: url('../recursos/pag_6/fondo.jpg');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;
}
.checkbox-premiacion:checked ~ .premiacion-panel
{
    left: 20%;
}
.checkbox-castillo, .checkbox-medieval, .checkbox-lugar, .checkbox-invitacion, .checkbox-premiacion
{
   display: none;
}

.x-boton
{
    width: 80%;
    height: auto;
}

div .x-boton
{
    position: relative;
    left: 80%;
}
.x-boton label img
{   
    width: 10vh;
    height: auto;
}
::-webkit-scrollbar
{
    display: none;
}

.title-halloween
{
    width: 100vh;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}
.sub-halloween
{
    width: 20%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}
.image-invitation
{
    width: 80%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}
.logo-castillo, .logo-lugar
{
    width: 30%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}
.menu-castillo
{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.menu-lugar .x-boton
{
    width: max-content;
}

.menu-lugar
{
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.lugar-panel-responsive, .premiacion-panel-responsive, .castillo-panel-responsive, .medieval-panel-responsive, .invitacion-panel-responsive
{
    display: none;
}
@media only screen and (max-width:560px) {
    .lugar-panel, .premiacion-panel, .castillo-panel, .medieval-panel, .invitacion-panel
    {
        display: none;
    }
    .checkbox-castillo:checked ~ .castillo-panel-responsive
    {
        display: flex;
    }
    .checkbox-premiacion:checked ~ .premiacion-panel-responsive
    {
        display: flex;
    }
    .checkbox-premiacion:checked ~ body
    {
    }
    .checkbox-invitacion:checked ~ .invitacion-panel-responsive
    {
        display: flex;
    }
    .checkbox-lugar:checked ~ .lugar-panel-responsive
    {
        display: flex;
    }
    .checkbox-medieval:checked ~ .medieval-panel-responsive
    {
        display: flex;
    }
    body{
        position: relative;
    };
}