body {
    display: flex;
    background-color: aqua !important;
    background-size: auto;
    justify-content: center;
    align-content: end;
}

.body button {
    background-color: red;
    position: absolute;
}

.buttons-div button {
    height: 100px;
    width: 150px;
}